[tool.poetry]
name = "nonebug"
version = "0.3.4"
description = "nonebot2 test framework"
authors = ["AkiraXie <l997460364@outlook.com>", "yanyongyu <yyy@nonebot.dev>"]
license = "MIT"
readme = "README.md"
homepage = "https://nonebot.dev/"
repository = "https://github.com/nonebot/nonebug"
documentation = "https://nonebot.dev/"
keywords = ["nonebot", "pytest", "test", "bot", "onebot", "cqhttp"]
classifiers = ["Framework :: Pytest"]

[tool.poetry.dependencies]
python = "^3.8"
pytest = "^7.0.0"
asgiref = "^3.4.0"
nonebot2 = "^2.0.0-rc.2"
typing-extensions = "^4.0.0"
async-asgi-testclient = "^1.4.8"

[tool.poetry.group.dev.dependencies]
pycln = "^2.1.4"
isort = "^5.10.1"
black = "^23.1.0"
nonemoji = "^0.1.3"
pre-commit = "^3.0.0"
nonebot2 = { git = "https://github.com/nonebot/nonebot2.git" }

[tool.poetry.group.test.dependencies]
pytest-cov = "^4.0.0"
pytest-asyncio = "^0.21.0"
nonebot2 = { git = "https://github.com/nonebot/nonebot2.git", extras = ["fastapi"] }

[tool.poetry.plugins.pytest11]
nonebug = "nonebug.fixture"

[tool.pytest.ini_options]
asyncio_mode = "auto"
addopts = "--cov nonebug --cov-report term-missing -p no:nonebug"

[tool.black]
line-length = 88
target-version = ["py38", "py39", "py310", "py311"]
include = '\.pyi?$'
extend-exclude = '''
'''

[tool.isort]
profile = "black"
line_length = 88
length_sort = true
skip_gitignore = true
force_sort_within_sections = true
extra_standard_library = ["typing_extensions"]

[tool.pycln]
path = "."
all = false

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "def __repr__",
    "def __str__",
    "if __name__ == .__main__.:",
    "if (typing\\.)?TYPE_CHECKING( is True)?:",
    "@(abc\\.)?abstractmethod",
    "@(typing\\.)?overload",
    "raise NotImplementedError",
    "\\.\\.\\.",
    "pass",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
