name: Code Coverage

on:
  push:
  pull_request:

jobs:
  test:
    name: Test Coverage
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
    env:
      PYTHON_VERSION: ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v6

      - name: Setup Python environment
        uses: ./.github/actions/setup-python
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run Pytest
        run: uv run --no-sync pytest --cov-report xml

      - name: Upload coverage report
        uses: codecov/codecov-action@v5
        with:
          env_vars: PYTHON_VERSION
          files: ./coverage.xml
          flags: unittests
          fail_ci_if_error: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
